.AddAuthorForm {
	width: 80%;
	margin: 1rem 10%;
}

.AddAuthorForm > h1 {
   font-size: .75rem;
   font-weight: bold;
}

.AddAuthorForm_input {
	margin-bottom: .25rem;
}

.AddAuthorForm_input input {
	font-size: .5rem;
}

.AddAuthorForm_input > label {
	display: block;
	margin-bottom: 0;
	font-size: .5rem;
	font-weight: bold;
}
